@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{

    background: #2f2f2f;
    color: #eeeeff;
    text-align: center;

}

.smallerImage{

    border-radius: 50px;
    zoom: 0.3;
    text-align: left;

}

.wordBox{

    inline-size: 120px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;


}

.container{

    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.break{

    padding-top: 50px;

}

.twitterButton{

    background: #2f2f2f;
    border: none;
    outline: none;
    color: #eeeeff;

}
.twitterButton:hover{

    color: #1a8cd8;

}
.twitterButton:active{

    color: #105a8b;

}

.gitButton{

    background: #2f2f2f;
    border: none;
    outline: none;
    color: #eeeeff;

}
.gitButton:hover{

    color: #46954a;
    
    

}
.gitButton:active{

    color: #224824;

}


.navBar{

    position: fixed;
    top: 0;
    width: 101%;
    background: #1d1d1d;
    font-family: 'Roboto', sans-serif;
    margin-left: -0.5%;

}
.navBar a{

    float: left;
    color: #eeeeff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;

}
.navBar a:hover{
    background: #2b2b2b;
}
.navBar a:active{
    background: #46954a;
}
.active{
    background: #46954a;
}

.banner{

    padding: 60px;
    text-align: center;
    

}
.withBGSize{

    text-align: center;
    background-image: url("theLoomingCrag.png");
    width: 109.5%;
    height: 400px;
    margin-left: -5%;
    margin-top: -1%;
    background-position: center;
    background-size: cover;

}
.banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
}

ion-icon{

    font-size: 75px;
    pointer-events: none;

}