@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{

    background: #2f2f2f;
    color: #eeeeff;
    text-align: center;

}

.smallerImage{

    border-radius: 50px;
    zoom: 0.3;
    text-align: left;

}

.wordBox{

    inline-size: 120px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;


}

.container{

    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.break{

    padding-top: 50px;

}

.twitterButton{

    background: #2f2f2f;
    border: none;
    outline: none;
    color: #eeeeff;

}
.twitterButton:hover{

    color: #1a8cd8;

}
.twitterButton:active{

    color: #105a8b;

}

.gitButton{

    background: #2f2f2f;
    border: none;
    outline: none;
    color: #eeeeff;

}
.gitButton:hover{

    color: #46954a;
    
    

}
.gitButton:active{

    color: #224824;

}


.bannerBox{

    background: #1ed860;
    overflow: hidden;

}
.bannerBox a{

    float: left;
    color: #1a8cd8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

ion-icon{

    font-size: 75px;
    pointer-events: none;

}