@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{

    background: #2f2f2f;
    color: #eeeeff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 100%;

}

.smallerImage{

    border-radius: 50px;
    zoom: 0.3;
    text-align: left;

}

.wordBox{

    inline-size: 120px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;


}

.container{

    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.break{

    padding-top: 50px;

}

.twitterButton{

    background: #2f2f2f;
    border: none;
    outline: none;
    color: #eeeeff;

}
.twitterButton:hover{

    color: #1a8cd8;

}
.twitterButton:active{

    color: #105a8b;

}

.gitButton{

    background: #2f2f2f;
    border: none;
    outline: none;
    color: #eeeeff;

}
.gitButton:hover{

    color: #46954a;
    
    

}
.gitButton:active{

    color: #224824;

}

.kofiButton{

    background: #1d1d1d;
    border: none;
    outline: none;
    color: #eeeeff;

}
.kofiButton:hover{

    color: #ff5e5b;

}
.kofiButton:active{

    color: #b2413f;

}


.navBar{

    position: fixed;
    top: 0;
    width: 102%;
    margin-left: -0.8%;
    background: #1d1d1d;
    font-family: 'Roboto', sans-serif;

}
.navBar a{

    float: left;
    color: #eeeeff;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 18px;

}
.navBar a:hover{
    background: #2b2b2b;
}
.navBar a:active{
    background: #46954a;
}
.navBar form{

    float: right;
    margin-right: 2%;
    color: #eeeeff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}
.navBar ion-icon{
    font-size: 40px;
    margin-top: 25%;
    pointer-events: none;

}
.active{
    background: #46954a;
}


.bannerHome{

    text-align: center;
    background-image: url("theLoomingCrag.png");
    width: 105.4%;
    height: 450px;
    margin-left: -5%;
    margin-top: -1%;
    background-position: center;
    background-size: cover;

}
.bannerProjects{

    text-align: center;
    background-image: url("cherryTreeCave.png");
    width: 105.4%;
    height: 450px;
    margin-left: -5%;
    margin-top: -1%;
    background-position: 0px 975px;
    background-size: cover;

}
.bannerGallery{

    text-align: center;
    background-image: url("artist\'sDreamRedux.png");
    width: 105.4%;
    height: 450px;
    margin-left: -5%;
    margin-top: -1%;
    background-position: center;
    background-size: cover;

}

ion-icon{

    font-size: 75px;
    pointer-events: none;

}