@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted&display=swap');

/* Main Body Stuff */

*{

    margin: 0px;

    scroll-behavior: smooth;

    
}

html{
    background: linear-gradient(#3f3e3a, #252522) no-repeat fixed;


}

body{

    background: #2f2f2f;

    background: linear-gradient(#3f3e3a, #252522) no-repeat fixed;

    color: #eeeeff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 100%;

}

.container{

    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.banner{

    object-fit: cover;
    width: 100%;
    height: 450px;

    animation: startBlur 0.25s;

}
@keyframes startBlur{

    0% {filter: blur(10px);}
    10% {filter: blur(9px);}
    20% {filter: blur(8px);}
    30% {filter: blur(7px);}
    40% {filter: blur(6px);}
    50% {filter: blur(5px);}
    60% {filter: blur(4px);}
    70% {filter: blur(3px);}
    80% {filter: blur(2px);}
    90% {filter: blur(1px);}
    100% {filter: blur(0px);}

}


/* Main - Paragraphs */
/* FFD75E */

.gilded{
    background-image: linear-gradient(to bottom,#FFD75E, #fff2b7);
    width: 12%;
    place-self: center;
    color: transparent;
    background-clip: text;
    padding: 0.3%;
    margin-top: -0.25%;
    margin-bottom: -0.25%;
}

.infoDiv{
    

    width: fit-content;
    place-self: center;
    color: #fffae5;
    line-height: 15pt;
    align-items: center;
    flex: content;
    text-align: center;
    display: block;

}
.infoDiv h1{


    background-image: linear-gradient(#FFD75E, #fff2b7) no-repeat fixed;
    color: transparent;
    background-clip: text;
    padding: 1.5%;

}
.infoDiv h2{

    scroll-margin-top: 65px;

    color: #fff5d5;
    padding-top: 2%;
    padding-bottom: 0.5%;
    text-decoration: underline;

}
.infoDiv h3{
    text-decoration: underline dotted;
}
.infoDiv small{
    color: inherit;
    filter: brightness(75%);
}
.infoDiv p{
    padding-bottom: 1%;
    padding-top: 0.2%;

}
.infoDiv sub{
    line-height: 10pt;
    color: #f0ebd8;
}
.infoDiv ul{
    list-style-position:inside;
    list-style-type:none;

    padding: 5px;
    border-radius: 10px;
    background-color: #1414132c;
    width: fit-content;
    place-self: center;

}
.infoDiv li{
    margin-left: -2.5%;
}
.infoDiv div{
    width: fit-content;
    max-width: 95%;
    place-self: center;

    padding: 5px;
    border-radius: 10px;
    background-color: #1414130c;
}






/* Navbars */

.navBar{

    position: fixed;
    width: 100%;
    background: #1d1d1d;
    display: block;
    z-index: 5;
    border-bottom: #ffe081;
    border-bottom-style: ridge;
    border-bottom-width: 5px;

}
.navBar a{

    float: left;
    color: #eeeeff;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 18px;
    user-select: none;

}
.navBar a:hover{
    background: #353432;
}
.navBar a:active{
    background: #958946;
}
.navBar form{

    float: right;
    padding-right: 0.5%;
    color: #eeeeff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}
.navBar ion-icon{
    font-size: 40px;
    margin-top: 25%;
    pointer-events: none;

}
.navBar p{

    float: left;
    color: #131314;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 18px;
    background: #d6c162;
    user-select: none;

}

/* Breaks */

.mBreak{

    padding-top: 0px;

}

.break{

    padding-top: 50px;

}


/* Logos */


